@font-face {
  font-family: 'UniversLTStd-XBlackEx';
  src: url('../fonts/subset-UniversLTStd-XBlackEx.eot');
  src: url('../fonts/subset-UniversLTStd-XBlackEx.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/subset-UniversLTStd-XBlackEx.woff2') format('woff2'),
    url('../fonts/subset-UniversLTStd-XBlackEx.woff') format('woff'),
    url('../fonts/subset-UniversLTStd-XBlackEx.ttf') format('truetype'),
    url('../fonts/subset-UniversLTStd-XBlackEx.svg#UniversLTStd-XBlackEx')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Walter Alte Unlicensed Trial';
  src: url('../fonts/ABCWalterAlte-Rauchwaren-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$mondo-font: 'UniversLTStd-XBlackEx', 'Univers', -apple-system,
  BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande',
  'Helvetica Neue', 'Helvetica', sans-serif;

$normal-font: 'ABC Walter Alte Unlicensed Trial', 'ABC Whyte Unlicensed Trial',
  'Helvetica', sans-serif;

body {
  color: white;
  font-family: $normal-font;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

::-moz-selection {
  color: red;
  background: white;
}

::selection {
  color: red;
  background: white;
}

::-webkit-scrollbar {
  //width: 0px;  /* remove scrollbar space */
  //background: transparent;  /* optional: just make scrollbar invisible */
}

a {
  text-decoration: none;
}

#mondo {
  perspective: 0.75vw;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  -webkit-transform-style: preserve-3d;
  //-webkit-backface-visibility: hidden;
  transform-origin: center;
  transform: translate3d(0, 0, 0) rotate3d(0deg, 0deg, 0deg);

  @media (max-width: 640px) {
    //height: 80vh;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 100%;
    z-index: 10;
  }
}

#mondo_img {
  -webkit-transform-style: preserve-3d;
  //-webkit-backface-visibility: hidden;
  width: 100%;
  transform: rotateX(-70deg) rotateZ(1deg) rotateY(0deg);
  position: relative;
  z-index: 10;
}

.block {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 0em 13em 0 1.5em;
  font-size: 3vw;
  color: white;
  text-align: left;
  position: relative;
  z-index: 100;
  height: 100%;
}

h1 {
  font-size: 3vw;
  margin-right: 1em;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  padding-top: 1em;
}

@media (max-width: 640px) {
  .block {
    padding-right: 0;
  }
  h1 {
    font-size: 5vw;
    line-height: 1.1;
    padding-top: 2em;
  }
}

p {
  margin-bottom: 1em;
}

ul {
  line-height: 1.8em;
  margin-bottom: 100vh;
  list-style: none;
}

strong {
  font-family: $mondo-font;
  letter-spacing: -0.05em;
  line-height: 0;
}

.mondo_1 {
  color: white;
}

.mondo_2 {
  color: white;
}

.mondo_1,
.mondo_2,
.mondo_3 {
  font-family: $mondo-font;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-1000%, 0, 0) scale3d(1, 1, 1) rotateZ(90deg)
    rotateY(-20deg);
  transform-origin: center;
  width: 100%;
  height: 100vh;
  //-webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  outline: 1px solid transparent;
  font-size: 80vh;
  line-height: 1.525em;
  z-index: 10;
  white-space: nowrap;
  letter-spacing: -0.05em;

  @media (max-width: 640px) {
    top: 50vh;
    height: 50vh;
    line-height: 0.8em;
  }
}

.mail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

img {
  mix-blend-mode: difference;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

nav {
  button {
    position: fixed;
    top: 4vw;
    right: 4vw;
    width: 32px;
    height: 32px;
    border-radius: 2vw;
    background: black;
    appearance: none;
    border: 0;
    z-index: 1000;
  }
}

.contact {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: white;
  color: black;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 0.33em 0.66em;
  font-weight: 600;
  z-index: 1000;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 640px) {
  .contact {
    font-size: 10px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.contact:hover {
  background: blue;
  color: white;
}
