
<div id="mondo">

  <div id="mondo_img">
    
    <span class="mondo_1">MONDO</span>
    
    <span class="mondo_2">MONDO</span>

  </div>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> makes impactful websites for artists, musicians, designers, small businesses, and cultural institutions.
  </h1>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> creates digital experiences that prioritize accessibility and user experience.
  </h1>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> specializes in responsive design and modern web technologies.
  </h1>
</div>