
<div id="mondo">

  <div id="mondo_img">
    
    <span class="mondo_1">MONDO MONDO</span>
    
  </div>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> makes impactful websites for artists, musicians, designers, small businesses, and cultural institutions.
  </h1>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> creates unique digital experiences that prioritize accessibility and user experience.
  </h1>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> specializes in future forward web technologies with a strong focus on design.
  </h1>
</div>

<div class="block">
  <h1>
    <strong>MONDO</strong> makes impactful websites for artists, musicians, designers, small businesses, and cultural institutions.
  </h1>
</div>

<a href="mailto:hello@mondo.studio" class="contact">Get in touch</a>