
<div id="mondo">

  <div id="mondo_img">
    
    <span class="mondo_1">MONDO</span>
    <!-- <span class="mondo_2">MONDO</span> -->

  </div>
</div>

<div id="content">
  <h1>
    <strong>MONDO</strong> makes affordable websites for artists, musicians, designers, small businesses, and cultural institutions.
  </h1>
  <p>
    Custom designed websites can be expensive.
  </p>
  <p style="margin-bottom: 100vh">With <strong>MONDO</strong>, you pay a much smaller monthly fee that covers the entire process. We also handle all of the technical stuff and offer ongoing support.
  </p>
  <p>All <strong>MONDO</strong> packages include</p>
  <ul id="list">
    <li>Research &amp; conceptualizing</li>
    <li>Content consulting</li>
    <li>Custom responsive design</li>
    <li>SEO &amp; social media optimization</li>
    <li>Modern development</li>
    <li>Super fast web server</li>
    <li>Automatic credit card billing</li>
    <li>Ongoing maintenance &amp; support</li>
  </ul>

  <h1 style="margin-bottom: 0" id="quote">
    We're just getting started.<br/>
    <a href="mailto:mondo@mondo.ltd">Request a quote</a>
  </h1>
</div>

<div id="scroller">
  
</div>